snippet md "description"
Title: ${1:My Great Title}
Author: ${2:mr.rcollins}
Date: ${3:`date +%Y-%m`}-${4:`date +%d`}
Category: $5
Tags: $6
Status: ${7:draft}

# $1
endsnippet

snippet e "New Entry" b
${1:`date +%Y/%m`}/${2:`date +%d`} ${3:`date +%H`}:${4:`date +%M`} - 
endsnippet
snippet // "Add Markdown comments" b

[//]: # (${1:This is a comment})


endsnippet
